config global 'kmods'
#	list enable 'r8125'
#	list enable 'r8168'

config auto_unload 'common'
	option function 'r8101 r8125 r8126 r8168 rtl8192de rtl8192se rtl8821ae'
	option support 'rtl8192d_common rtl_pci'

# config auto_unload 'amdgpu'
#	option function 'amdgpu'
#	option support ''

# config auto_unload 'i915'
#	option function 'i915'
#	option support ''

# config auto_unload 'radeon'
#	option function 'radeon'
#	option support ''

# config auto_unload 'rtw89'
#	option function 'rtw_8851be rtw_8852ae rtw_8852be rtw_8852ce'
#	option support 'rtw_8852c rtw_8852b rtw_8852a rtw_8851b rtw89pci rtw89core'

# config auto_unload 'mwifiex'
#	option function 'mwifiex_pcie'
#	option support 'mwifiex'

# config auto_unload 'ath10k'
#	option function 'ath10k_pci'
#	option support 'ath10k_core'

# config auto_unload 'x86_others'
#	option function 'bnx2x mlx5_core i40e mpt3sas ixgbe'
#	option support ''
