config AVB_LIBAVB
	bool "Support running U-Boot AVB"
	help
	  The new android bootloader need to startup
	  with a/b and avb.This config can add the
	  AVB functions to u-boot.

config SPL_AVB_LIBAVB
	bool "Support running U-Boot AVB for spl"
	help
	  The new android bootloader need to startup
	  with a/b and avb.This config can add the
	  AVB functions to u-boot.

config TPL_AVB_LIBAVB
	bool "Support running U-Boot AVB for tpl"
	help
	  The new android bootloader need to startup
	  with a/b and avb.This config can add the
	  AVB functions to u-boot.
