CONFIG_BASE_DEFCONFIG="rockchip-usbplug_defconfig"
# CONFIG_TARGET_EVB_RV1126 is not set
# CONFIG_ROCKCHIP_RV1126 is not set
CONFIG_DEBUG_UART_BASE=0xFE660000
CONFIG_DEFAULT_DEVICE_TREE="rk3568-evb"
CONFIG_ROCKCHIP_RK3568=y
CONFIG_TARGET_EVB_RK3568=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_SDMA=y
CONFIG_MMC_SDHCI_ROCKCHIP=y
CONFIG_ROCKCHIP_NEW_IDB=y
