# CONFIG_ANDROID_AVB is not set
# CONFIG_ARM_CPU_SUSPEND is not set
# CONFIG_AVB_LIBAVB_AB is not set
# CONFIG_AVB_LIBAVB_ATX is not set
# CONFIG_AVB_LIBAVB is not set
# CONFIG_AVB_LIBAVB_USER is not set
CONFIG_BASE_DEFCONFIG="rk3568_defconfig"
# CONFIG_CMD_BOOT_ROCKCHIP is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_EXT2 is not set
# CONFIG_CMD_EXT4 is not set
# CONFIG_CMD_FAT is not set
# CONFIG_CMD_FS_GENERIC is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_MMC is not set
# CONFIG_CMD_NAND is not set
# CONFIG_DISTRO_DEFAULTS is not set
# CONFIG_DM_CHARGE_DISPLAY is not set
# CONFIG_DM_CRYPTO is not set
# CONFIG_DM_FUEL_GAUGE is not set
# CONFIG_DM_PMIC is not set
# CONFIG_DM_REGULATOR_FIXED is not set
# CONFIG_DOS_PARTITION is not set
# CONFIG_FASTBOOT is not set
# CONFIG_FIT is not set
# CONFIG_FS_FAT is not set
# CONFIG_IO_DOMAIN is not set
# CONFIG_IRQ is not set
CONFIG_LOADER_INI="RK3568MINIALL_SPI_NAND.ini"
# CONFIG_MMC is not set
# CONFIG_OPTEE_CLIENT is not set
# CONFIG_REGULATOR_PWM is not set
# CONFIG_RK_AVB_LIBAVB_USER is not set
# CONFIG_RSA is not set
# CONFIG_SHA512 is not set
# CONFIG_SPL is not set
CONFIG_TRUST_NUM=2
CONFIG_TRUST_RSA_MODE=2
CONFIG_TRUST_SHA_MODE=3
CONFIG_TRUST_SIZE_KB=2048
CONFIG_UBOOT_NUM=4
CONFIG_UBOOT_SIZE_KB=1024
