CONFIG_BASE_DEFCONFIG="rk3568-spi-nand.config"
# CONFIG_CMD_PMIC is not set
# CONFIG_DM_PMIC_MAX77686 is not set
# CONFIG_DM_PMIC_MAX8998 is not set
# CONFIG_DM_PMIC_PFUZE100 is not set
# CONFIG_DM_PMIC_SANDBOX is not set
CONFIG_DM_PMIC=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_IO_DOMAIN=y
# CONFIG_PMIC_ACT8846 is not set
CONFIG_PMIC_CHILDREN=y
# CONFIG_PMIC_LP873X is not set
# CONFIG_PMIC_LP87565 is not set
# CONFIG_PMIC_MAX8997 is not set
# CONFIG_PMIC_PALMAS is not set
# CONFIG_PMIC_PM8916 is not set
CONFIG_PMIC_RK8XX=y
# CONFIG_PMIC_RN5T567 is not set
# CONFIG_PMIC_S2MPS11 is not set
# CONFIG_PMIC_S5M8767 is not set
# CONFIG_PMIC_TPS65090 is not set
CONFIG_REGULATOR_PWM=y
CONFIG_REGULATOR_RK8XX=y
CONFIG_ROCKCHIP_IO_DOMAIN=y
# CONFIG_SPL_DM_REGULATOR_FIXED is not set
CONFIG_SPL_PMIC_CHILDREN=y
