CONFIG_BASE_DEFCONFIG="rk3588_defconfig"
# CONFIG_CMD_GPT is not set
CONFIG_CMD_SCRIPT_UPDATE=y
# CONFIG_EFI_PARTITION is not set
CONFIG_ENVF_LIST="blkdevparts mtdparts sys_bootargs app reserved ipaddr serverip netmask gatewayip ethaddr"
CONFIG_ENVF=y
CONFIG_ENV_PARTITION=y
CONFIG_LOADER_INI="RK3588MINIALL_IPC.ini"
# CONFIG_SPL_EFI_PARTITION is not set
CONFIG_SPL_ENVF=y
CONFIG_SPL_ENV_PARTITION=y
