CONFIG_ARM64_BOOT_AARCH32=y
# CONFIG_ARM64_SUPPORT_AARCH32 is not set
# CONFIG_ARMV7_LPAE is not set
CONFIG_BASE_DEFCONFIG="rk3588_defconfig"
CONFIG_BOOTP_PXE_CLIENTARCH=0x15
CONFIG_BOOTP_VCI_STRING="U-Boot.armv7"
CONFIG_CPU_V7=y
# CONFIG_DEBUG_LL is not set
# CONFIG_GICV3 is not set
CONFIG_HAS_THUMB2=y
CONFIG_HAS_VBAR=y
CONFIG_HAVE_PRIVATE_LIBGCC=y
# CONFIG_PHYS_64BIT is not set
# CONFIG_SPL_DM_SERIAL is not set
# CONFIG_SPL_OF_LIBFDT is not set
CONFIG_SPL_SYS_THUMB_BUILD=y
CONFIG_SPL_USE_ARCH_MEMCPY=y
CONFIG_SPL_USE_ARCH_MEMSET=y
CONFIG_SYS_ARM_ARCH=7
CONFIG_SYS_CPU="armv7"
CONFIG_SYS_THUMB_BUILD=y
# CONFIG_TPL_DM_SERIAL is not set
CONFIG_TPL_USE_ARCH_MEMCPY=y
CONFIG_TPL_USE_ARCH_MEMSET=y
CONFIG_USE_ARCH_MEMCPY=y
CONFIG_USE_ARCH_MEMSET=y
CONFIG_USE_PRIVATE_LIBGCC=y
