CONFIG_BASE_DEFCONFIG="rv1126_defconfig"
# CONFIG_CMD_GPT is not set
CONFIG_CMD_SCRIPT_UPDATE=y
# CONFIG_EFI_PARTITION is not set
CONFIG_ENVF_LIST="blkdevparts mtdparts sys_bootargs app reserved ipaddr serverip netmask gatewayip ethaddr"
CONFIG_ENVF=y
CONFIG_LOADER_INI="RV1126MINIALL_IPC.ini"
# CONFIG_SPL_EFI_PARTITION is not set
CONFIG_SPL_ENVF=y
CONFIG_NETDEVICES=y
CONFIG_GMAC_ROCKCHIP=y
CONFIG_DWC_ETH_QOS=y
CONFIG_DM_ETH=y
CONFIG_DM_ETH_PHY=y
CONFIG_CMD_NET=y
CONFIG_CMD_TFTP_BOOTM=y
CONFIG_CMD_TFTP_FLASH=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_HUSH_PARSER=y
