CONFIG_BASE_DEFCONFIG="rv1126_defconfig"
# CONFIG_CMD_MTD_BLK is not set
# CONFIG_CMD_NAND is not set
# CONFIG_CMD_SF is not set
# CONFIG_CMD_SPI is not set
CONFIG_LOADER_INI="RV1126MINIALL_EMMC_TB.ini"
CONFIG_MMC_USE_PRE_CONFIG=y
# CONFIG_MTD_DEVICE is not set
# CONFIG_MTD is not set
# CONFIG_MTD_NAND_BBT_USING_FLASH is not set
# CONFIG_NAND is not set
CONFIG_OF_SPL_REMOVE_PROPS="pinctrl-0 pinctrl-names interrupt-parent assigned-clocks assigned-clock-rates assigned-clock-parents"
# CONFIG_ROCKCHIP_SFC is not set
# CONFIG_SPI_FLASH is not set
# CONFIG_SPI_MEM is not set
# CONFIG_SPL_AB is not set
CONFIG_SPL_ADC_KEY=y
CONFIG_SPL_ADC_SUPPORT=y
CONFIG_SPL_BLK_READ_PREPARE=y
# CONFIG_SPL_CROS_EC_KEYB is not set
CONFIG_SPL_DM_FUEL_GAUGE=y
CONFIG_SPL_I2C_SUPPORT=y
CONFIG_SPL_INPUT=y
CONFIG_SPL_KERNEL_BOOT=y
# CONFIG_SPL_MTD_SUPPORT is not set
# CONFIG_SPL_NAND_SUPPORT is not set
# CONFIG_SPL_PINCTRL is not set
# CONFIG_SPL_POWER_FG_CW201X is not set
CONFIG_SPL_POWER_FG_RK817=y
# CONFIG_SPL_POWER_FG_RK818 is not set
CONFIG_SPL_POWER_LOW_VOLTAGE_THRESHOLD=3400
# CONFIG_SPL_SPI_FLASH_SUPPORT is not set
# CONFIG_SPL_SPI_SUPPORT is not set
CONFIG_SYS_MALLOC_F_LEN=0x100000
CONFIG_TRUST_INI="RV1126TOS_TB.ini"
