CONFIG_ANDROID_AB=y
CONFIG_AVB_LIBAVB_AB=y
CONFIG_AVB_LIBAVB_ATX=y
CONFIG_AVB_LIBAVB_USER=y
CONFIG_AVB_LIBAVB=y
# CONFIG_AVB_VBMETA_PUBLIC_KEY_VALIDATE is not set
CONFIG_BASE_DEFCONFIG="rv1126_defconfig"
CONFIG_BOOTDELAY=0
# CONFIG_CMD_ANDROID_AB_SELECT is not set
CONFIG_RK_AVB_LIBAVB_USER=y
# CONFIG_ROCKCHIP_PRELOADER_PUB_KEY is not set
CONFIG_SPL_FIT_IMAGE_KB=1088
