# CONFIG_ARM_CPU_SUSPEND is not set
CONFIG_BASE_DEFCONFIG="rv1126_defconfig"
# CONFIG_CMD_GPT is not set
# CONFIG_CMD_MMC is not set
# CONFIG_CMD_MTD_BLK is not set
# CONFIG_CMD_NAND is not set
# CONFIG_CMD_SF is not set
# CONFIG_CMD_SPI is not set
# CONFIG_CMD_TFTP_FLASH is not set
# CONFIG_CMD_USB is not set
# CONFIG_CMD_USB_MASS_STORAGE is not set
# CONFIG_DISPLAY is not set
# CONFIG_DM_FUEL_GAUGE is not set
# CONFIG_DM_MMC is not set
CONFIG_DM_RAMDISK=y
# CONFIG_DM_VIDEO is not set
# CONFIG_I2C_EDID is not set
CONFIG_LOADER_INI="RV1126MINIALL_RAMBOOT.ini"
# CONFIG_MMC is not set
# CONFIG_MTD_DEVICE is not set
# CONFIG_MTD is not set
# CONFIG_MTD_NAND_BBT_USING_FLASH is not set
# CONFIG_NAND is not set
# CONFIG_OPTEE_CLIENT is not set
# CONFIG_OPTEE_V2 is not set
# CONFIG_PHY is not set
CONFIG_RAMDISK_RO=y
CONFIG_RKPARM_PARTITION=y
# CONFIG_ROCKCHIP_FIT_IMAGE_PACK is not set
# CONFIG_ROCKCHIP_SFC is not set
# CONFIG_ROCKCHIP_VENDOR_PARTITION is not set
# CONFIG_SPI_FLASH is not set
# CONFIG_SPI_MEM is not set
# CONFIG_SPL_DM_SERIAL is not set
# CONFIG_SPL is not set
# CONFIG_TPL_DM_SERIAL is not set
# CONFIG_TPL_RAM is not set
# CONFIG_USB is not set
# CONFIG_VIDEO_BRIDGE is not set
# CONFIG_VIDEO is not set
