# CONFIG_SPL_HASH_SUPPORT is not set
# CONFIG_SPL_ROCKCHIP_CIPHER is not set
# CONFIG_SPL_ROCKCHIP_CRYPTO_V1 is not set
# CONFIG_SPL_ROCKCHIP_HMAC is not set
# CONFIG_SPL_ROCKCHIP_SECURE_OTP_V2 is not set
CONFIG_BASE_DEFCONFIG="rv1126-spi-nor-tiny_defconfig"
CONFIG_LOADER_INI="RV1126MINIALL_SPI_NOR_TB.ini"
CONFIG_OF_U_BOOT_REMOVE_PROPS=""
CONFIG_SPL_BLK_READ_PREPARE=y
CONFIG_SPL_CRYPTO_SUPPORT=y
CONFIG_SPL_DM_CRYPTO=y
CONFIG_SPL_FIT_HW_CRYPTO=y
CONFIG_SPL_FIT_IMAGE_KB=384
CONFIG_SPL_KERNEL_BOOT=y
CONFIG_SPL_ROCKCHIP_CRYPTO_V2=y
CONFIG_SPL_ROCKCHIP_RSA=y
CONFIG_SYS_MALLOC_F_LEN=0xc000
CONFIG_TPL_SYS_MALLOC_F_LEN=0xc000
CONFIG_TRUST_INI="RV1126TOS_TB.ini"
