#
# Copyright (C) (C) Copyright 2016-2017 Rockchip Electronics Co., Ltd
#
# SPDX-License-Identifier:	GPL-2.0+
#

config RKNAND
	bool "Rockchip NAND FLASH device support"
	depends on BLK
	select ZFTL if (ROCKCHIP_PX30 || ROCKCHIP_RK3568)
	help
	  This option enables support for Rockchip NAND FLASH devices.
	  It supports block interface(with rk ftl) to read and write NAND FLASH.

config ZFTL
	bool "Rockchip ZFTL for rkpx30/rk3326 to support 3D/2D TLC/MLC"
	depends on RKNAND && (ROCKCHIP_PX30 || ROCKCHIP_RK3568)
	default y if (ROCKCHIP_PX30 || ROCKCHIP_RK3568)
	help
	  This option enables support for Rockchip NAND FLASH devices.
	  It supports block interface(with zftl) to read and write 3D/2D TLC/MLC
	  NAND FLASH.
