CONFIG_ARM=y
CONFIG_TARGET_RTD1295=y
CONFIG_BOARD_FPGA=y
CONFIG_SYS_MALLOC_CLEAR_ON_INIT=y
CONFIG_RTK_XEN_MONITOR_SUPPORT=y

#
# Enabled commands
#
CONFIG_CMD_UNZIP=y
CONFIG_CMD_SOURCE=y
CONFIG_CMD_GETTIME=y
CONFIG_CMD_GICTEST=y
CONFIG_CMD_CACHETEST=y
CONFIG_CMD_BOOTR=y
CONFIG_CMD_BOOTM=y

#
# Disabled commands
#

# CONFIG_CMD_NET is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_MISC is not set
# CONFIG_CMD_SETGETDCR is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_BASE is not set
# CONFIG_CMD_LOOP is not set
# CONFIG_CMD_TEST is not set
# CONFIG_CMD_TRUE is not set
# CONFIG_CMD_FALSE is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_EXIT is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_SHOWVAR is not set
# CONFIG_CMD_MM is not set
# CONFIG_CMD_NM is not set
# CONFIG_CMD_CMP is not set
# CONFIG_CMD_CP is not set
