CONFIG_ARM=y
CONFIG_TARGET_RTD1296=y
CONFIG_TARGET_RTD1295=y
CONFIG_BOARD_QA=y
CONFIG_SYS_MALLOC_CLEAR_ON_INIT=y
CONFIG_RTK_XEN_MONITOR_SUPPORT=y
CONFIG_RTK_SLAVE_CPU_BOOT=y
CONFIG_RTK_MMC_DRIVER=y
CONFIG_RTK_SD_DRIVER=y
CONFIG_SYS_CONFIG_NAME="rtd1296_qa_emmc_bananapi"
#
# Enabled commands
#
CONFIG_CMD_UNZIP=y
CONFIG_CMD_SOURCE=y
CONFIG_CMD_GETTIME=y
CONFIG_CMD_GICTEST=y
CONFIG_CMD_CACHETEST=y
CONFIG_CMD_BOOTR=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_NET=y
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_USB=y
CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_I2C=y
CONFIG_USB=y
CONFIG_USB_RTK=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_RTK=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_RTK=y
CONFIG_USB_STORAGE=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_RTK=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GADGET=y
CONFIG_USB_DWC3_RTK=y
CONFIG_USBDOWNLOAD_GADGET=y
CONFIG_FASTBOOT_RTK=y
CONFIG_GMT_G2227=y

#
# Disabled commands
#

# CONFIG_CMD_NFS is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_MISC is not set
# CONFIG_CMD_SETGETDCR is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_BASE is not set
# CONFIG_CMD_LOOP is not set
# CONFIG_CMD_TEST is not set
# CONFIG_CMD_TRUE is not set
# CONFIG_CMD_FALSE is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_LOADB=y
# CONFIG_CMD_EXIT is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_SHOWVAR is not set
# CONFIG_CMD_MM is not set
# CONFIG_CMD_NM is not set
# CONFIG_CMD_CMP is not set
# CONFIG_CMD_CP is not set
